<template name="claim">
        <form id="claim" role="form">
            <div class="form-group">
                <label>Number of Servings</label>
                <input class="form-control" id="numOfServings" value="1" type="number">
            </div>
            <div class="form-group">
                <label>Leave a note for the chef</label>
                <textarea rows="6" class="form-control" id="note"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Claim</button>
        </form>
</template>