<template name="meal">
    <div class="container top-container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">- MEAL -</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="portlet">
                    <div class="title">
                        Chef
                    </div>
                    <div class="content">
                        <div id="user-picture">
                            <i class="fa fa-user"></i>
                        </div>
                        <hr />
                        {{#with chef}}
                            <h4><a href="/profile/{{_id}}">{{profile.name}} ({{username}})</a> - {{showStars profile.rating}}</h4>
                            <h5>{{profile.address}}</h5>
                            <h5>Specialty: {{profile.specialty}}</h5>
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet">
                            <div class="title">
                                Meal
                            </div>
                            <div class="content">
                                {{#with meal}}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1>{{name}}</h1>
                                        <hr />
                                        <div class="col-sm-12">
                                            <div class="col-md-7">
                                                <p class="bold">{{address}}</p>
                                                <p>{{description}}</p>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="portlet">
                                                    <div class="title">
                                                        Tasty Picture
                                                    </div>
                                                    <div class="content">
                                                        <div id="meal-image">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr class="top-container"/>
                                    <h4 class="italic text-center">GET IT WHILE IT'S HOT</h4>
                                    <div class="col-md-6">
                                        <div class="portlet">
                                            <div class="title">
                                                Total Servings
                                            </div>
                                            <div class="content">
                                                <p class="num-of-servings">
                                                    {{numOfServings}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="portlet">
                                            <div class="title">
                                                Remaining Servings
                                            </div>
                                            <div class="content">
                                                <p class="num-of-servings">
                                                    {{remainingServings}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-container">
                    <div class="col-sm-12">
                        <div class="portlet">
                            <div class="title">
                                Claims made on this meal
                            </div>
                            <div class="content">
                                {{> reactiveTable collection=collection settings=settings}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-container">
                    <div class="col-sm-12">
                        <div class="portlet">
                            <div class="title">
                                Claim a serving or two for yourself
                            </div>
                            <div class="content">
                                {{> claim}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-container">
            {{#if ownsPage}}
            <div class="col-sm-8 col-sm-offset-4">
                <div class="portlet">
                    <div class="title">
                        Update Information
                    </div>
                    <div class="content">
                        {{> editProfile}}
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

</template>