<template name="profile">
    <div class="container top-container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">- PROFILE -</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="portlet">
                    <div class="title">
                        Picture
                    </div>
                    <div class="content">
                        <div id="user-picture">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="portlet">
                    <div class="title">
                        Information
                    </div>
                    <div class="content">
                        {{#with user}}
                        <h1> {{profile.name}} ({{username}})
                            <span style="text-align: right !important; float: right;">
                                {{showStars profile.rating}}
                            </span>
                        </h1>
                        <hr />
                        <h3>{{profile.address}}</h3>
                        {{/with}}
                        {{> reactiveTable collection=collection settings=settings}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-container">
            {{#if ownsPage}}
            <div class="col-sm-8 col-sm-offset-4">
                <div class="portlet">
                    <div class="title">
                        Edit Information
                    </div>
                    <div class="content">
                        {{> editProfile}}
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</template>